@import (css) url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@font-family-base: "Roboto", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;

@primary-color: #2874A6;

@top-header-bar: #2874A6;
@header-image-color: #2874A6;
@header-color: #fff;
@nav-background: @primary-color;
@footer-background: #cceaff;

//Text
@font-size-base: 15px;
@title-color: #1d2127;
@text-color: #555;
@grey-color: #777;
@white-color: #fff;

//block
@block-bg: #eee;
@block-title-color: @text-color;

//Radius
@small-radius: 2px;
@big-radius: 3px;
@large-radius: 2px;

//Bootstrap color
@brand-primary: @primary-color;
@brand-success: #18BC9C;
@brand-info: #3498DB;
@brand-warning: #F39C12;
@brand-danger: #E74C3C;

#nav-menu .navbar-form{
    padding: 0;
}


#main-navigation li a{
    padding-left: 12px;
    padding-right: 12px;
  }

@media (max-width: 767px) {
    #nav-menu{
        .language_toggle{
            float: none;
            margin-top: 0;
        }
        form[role="search"]{
            margin: auto;
        }
    }    
}