@import (css) url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@font-family-base: "Roboto", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;

@primary-color: #1aa136;

@top-header-bar: linear-gradient(to right,#73c261, #1aa136);
@header-image-color: #fff;

@header-color: #fff;
@nav-background: @primary-color;
@footer-background: #bce4b2;

//Text
@font-size-base: 15px;
@title-color: #1d2127;
@text-color: #555;
@grey-color: #777;
@white-color: #fff;

//block
@block-bg: #eee;
@block-title-color: @text-color;

//Radius
@small-radius: 2px;
@big-radius: 3px;
@large-radius: 2px;

//Bootstrap color
@brand-primary: @primary-color;
@brand-success: #51D847;
@brand-info: #41C7FC;
@brand-warning: #FCD525;
@brand-danger: #FF5E7E;